body {
background-color: #ECE5F0;
margin: 0;
font-family: 'Work Sans', sans-serif;

}
.boxed {
    padding-left: 15px;
    margin: auto;
    max-width: 800px;
}
h1, h2, h3 {
    font-family: 'Roboto Mono', monospace;
}

/*
header starts here
*/

.mainheader {
    background-color: #FFE74C;
}
.koptekst, .logo {
    display: inline-block;
    width: 48%;
    box-sizing: border-box;
    vertical-align: top;
}
.button {
    display: inline-block;
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
    font-weight: 700; 
}
.button:hover {
    background-color: #ECE5F0;
}
nav img {
    width: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    display: block;
    margin: 10px;
}
nav div {
    display: inline-block;
    padding: 20px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: inherit;
    font-weight: 700; 
}
nav a:hover {
    color: #38618c;
}
nav img:hover {
    background-color:#ECE5F0;
}
.actief {
    border-bottom: solid;
}
nav {
    text-align:center;
}
.textfoto {
    float: right;
}
.tabel1 table{
border-collapse: collapse;
}
td, th{
padding: 20px 0px;
}
th {
    text-align: left;
}

input[type=text], input[type=email], textarea, button {
    display: block;
    margin: 10px 0px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 2px;
}

button:hover {
    background-color: #ECE5F0;
}
button:active {
    background-color:black;
    color: white;
    opacity: 0.5;
}
textarea {
    height: 150px;
    padding: 5px 4px;
}

/*
footer starts here
*/
footer {
padding: 20px 0px
}